<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <title>Home</title>
    <style>
        div.detail {
            border-radius: 0 0 6.5% 6.5%;
            background-color: rgb(0, 0, 0, 0.4);
            position: absolute;
            top: 10;
            left: 0;
            right: 0;
            bottom: 0;
            height: 70px;
            display: none;
        }

        div.item:hover div.detail {
            display: block;
        }
        a:hover{
            color: red;
        }
    </style>
</head>

<body>
    <!-- ok 123 -->
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container">
                    <img src="/images/fpt.png" alt="" style="width: 60px; height: 40px;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item" style="margin-left: 15px; margin-right: 15px;">
                                <a class="nav-link active" aria-current="page" href="/admin/sanpham/home">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-house-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                                        <path
                                            d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                                    </svg>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="/admin/sanpham/addsp"
                                    style="margin-left: 15px; margin-right: 15px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                            </li>


                            <li class="nav-item dropdown" style="margin-left: 15px; margin-right: 15px;">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                    </svg>

                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/thongtin">Account</a></li>
                                    <li><a class="dropdown-item" href="/">Log Out</a></li>
                                    <!-- <li>
                                        <hr class="dropdown-divider">
                                    </li> -->
                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class=" row col-md-3" style="margin: 10px;">
                <div class="border border-secondary"
                    style="display: flex;padding: 10px;justify-content: space-between;align-items: center;">
                    <div style="display: flex;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments-filled"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M6 3a1 1 0 0 1 .993 .883l.007 .117v3.171a3.001 3.001 0 0 1 0 5.658v7.171a1 1 0 0 1 -1.993 .117l-.007 -.117v-7.17a3.002 3.002 0 0 1 -1.995 -2.654l-.005 -.176l.005 -.176a3.002 3.002 0 0 1 1.995 -2.654v-3.17a1 1 0 0 1 1 -1z"
                                stroke-width="0" fill="currentColor"></path>
                            <path
                                d="M12 3a1 1 0 0 1 .993 .883l.007 .117v9.171a3.001 3.001 0 0 1 0 5.658v1.171a1 1 0 0 1 -1.993 .117l-.007 -.117v-1.17a3.002 3.002 0 0 1 -1.995 -2.654l-.005 -.176l.005 -.176a3.002 3.002 0 0 1 1.995 -2.654v-9.17a1 1 0 0 1 1 -1z"
                                stroke-width="0" fill="currentColor"></path>
                            <path
                                d="M18 3a1 1 0 0 1 .993 .883l.007 .117v.171a3.001 3.001 0 0 1 0 5.658v10.171a1 1 0 0 1 -1.993 .117l-.007 -.117v-10.17a3.002 3.002 0 0 1 -1.995 -2.654l-.005 -.176l.005 -.176a3.002 3.002 0 0 1 1.995 -2.654v-.17a1 1 0 0 1 1 -1z"
                                stroke-width="0" fill="currentColor"></path>
                        </svg>
                        <h5 style="margin-left: 10px;">Loại sản phẩm</h5>
                    </div>
                    <div>
                        <svg data-bs-toggle="modal" data-bs-target="#staticBackdropLoai"
                            xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z">
                            </path>
                            <path d="M9 12l6 0"></path>
                            <path d="M12 9l0 6"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="row col-md-8" style="margin: 10px;">
                <div class="border border-secondary"
                    style="display: flex;padding: 10px;justify-content: space-between;align-items: center;">
                    <div style="display: flex;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkup-list"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2">
                            </path>
                            <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z">
                            </path>
                            <path d="M9 14h.01"></path>
                            <path d="M9 17h.01"></path>
                            <path d="M12 16l1 1l3 -3"></path>
                        </svg>
                        <h5 style="margin-left: 10px;">Danh Sách Sản Phẩm</h5>
                    </div>
                    <div>
                        <form class="d-flex" role="search" >
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="tensp">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="row col-md-3 " style="margin: 10px;text-align: center;">
                <div class="row" style="margin-top: 40px;">
                    <table class="table table-bordered" style="height: 200px;">
                        <thead>
                            <tr>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col">

                                    Tên loại


                                </th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% listLoai.forEach(function(i){ %>
                                <tr>
                                    <td>
                                        <%= i.tenloai %>
                                    </td>

                                    <td>
                                        <a href="/admin/sanpham/editLoai/<%=i._id%>">
                                            <svg data-bs-toggle="modal" data-bs-target="#staticBackdrop1"
                                                style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-pencil-minus" width="24" height="24"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M8 20l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4z">
                                                </path>
                                                <path d="M13.5 6.5l4 4"></path>
                                                <path d="M16 18h4"></path>
                                            </svg>
                                        </a>
                                        <a href="/admin/sanpham/deleteLoai/<%=i._id%>">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-trash" width="24" height="24"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M4 7l16 0"></path>
                                                <path d="M10 11l0 6"></path>
                                                <path d="M14 11l0 6"></path>
                                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                            </svg>
                                        </a>
                                    </td>

                                </tr>
                                <%}) %>

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row col-md-8" style="margin: 10px;">
                <div class="container" style="text-align: center;margin-top: 40px;">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Giá tiền
                                        </a>
                                        <ul class="dropdown-menu">

                                            <li><a class="dropdown-item" href="/admin/sanpham/tang"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="icon icon-tabler icon-tabler-arrow-big-up-filled"
                                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path
                                                            d="M10.586 3l-6.586 6.586a2 2 0 0 0 -.434 2.18l.068 .145a2 2 0 0 0 1.78 1.089h2.586v7a2 2 0 0 0 2 2h4l.15 -.005a2 2 0 0 0 1.85 -1.995l-.001 -7h2.587a2 2 0 0 0 1.414 -3.414l-6.586 -6.586a2 2 0 0 0 -2.828 0z"
                                                            stroke-width="0" fill="currentColor"></path>
                                                    </svg></a></li>
                                            <li> <a class="dropdown-item" href="/admin/sanpham/giam">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="icon icon-tabler icon-tabler-arrow-big-down-filled"
                                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path
                                                            d="M10 2l-.15 .005a2 2 0 0 0 -1.85 1.995v6.999l-2.586 .001a2 2 0 0 0 -1.414 3.414l6.586 6.586a2 2 0 0 0 2.828 0l6.586 -6.586a2 2 0 0 0 .434 -2.18l-.068 -.145a2 2 0 0 0 -1.78 -1.089l-2.586 -.001v-6.999a2 2 0 0 0 -2 -2h-4z"
                                                            stroke-width="0" fill="currentColor"></path>
                                                    </svg>
                                                </a></li>
                                           
                                        </ul>
                                    </th>
                                    <th scope="col">Nội dung</th>
                                    <th scope="col">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Loại
                                        </a>
                                        <ul class="dropdown-menu">
                                            <% listLoai.forEach(function(i){ %>
                                                <li><a class="dropdown-item" href="/admin/sanpham/home/<%=i._id%>">
                                                        <%=i.tenloai%>
                                                    </a></li>
                                                <%}) %>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item " href="/admin/sanpham/home">All</a></li>
                                        </ul>
                                    </th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% list.forEach(function(i){ %>
                                    <tr>
                                        <td>
                                            <a href="#" style="color: black;text-decoration: none;">
                                                <%= i.tensp%>
                                            </a>
                                        </td>
                                        <td>
                                            <%= i.giatien%>
                                        </td>
                                        <td>
                                            <%= i.mota%>
                                        </td>
                                        <td>
                                            <%= i.idloai.tenloai%>
                                        </td>
                                        <td style="background-image: url('<%= i.image%>'); width: 150px; height: 150px; background-repeat: no-repeat;
                                            background-size: cover
            ">
                                       
                                    </td>
                                        <td>
                                            <a href="/admin/sanpham/editSP/<%=i._id%>">
                                                <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-pencil-minus" width="24"
                                                    height="24" viewBox="0 0 24 24" stroke-width="2"
                                                    stroke="currentColor" fill="none" stroke-linecap="round"
                                                    stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M8 20l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4z">
                                                    </path>
                                                    <path d="M13.5 6.5l4 4"></path>
                                                    <path d="M16 18h4"></path>
                                                </svg>
                                            </a>
                                            <a href="/admin/sanpham/deleteSP/<%=i._id%>">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="icon icon-tabler icon-tabler-trash" width="24" height="24"
                                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M4 7l16 0"></path>
                                                    <path d="M10 11l0 6"></path>
                                                    <path d="M14 11l0 6"></path>
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                                </svg>
                                            </a>
                                        </td>

                                    </tr>
                                    <%}) %>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="container-fluid" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-12 col-sm-2 col-md-2">
                            <div class="row ">
                                <h6>1/5</h6>
                            </div>
                        </div>
                        <div class="col-12 col-sm-7 col-md-7">
                            <div class="row"></div>
                        </div>
                        <div class="col-12 col-sm-3 col-md-3">
                            <div class="row">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <div class="col-md-3">
                                <label for="validationDefault04" class="form-label">Loại Sản Phẩm</label>
                                <select class="form-select" id="validationDefault04" required>
                                    <option selected disabled value="">Chọn...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Tên Sản Phẩm</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Nhập tên sản phẩm">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Giá Tiền</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Nhập giá tiền">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Nội Dung</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Nhập nội dung"></textarea>
                        </div>
                        <div class="mb-3">
                            <a href="#" style="color: rgb(78, 86, 93);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-images" viewBox="0 0 16 16">
                                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                    <path
                                        d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
                                </svg>
                            </a>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-success">Sửa</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Tên Loại</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Nhập tên loại">
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-success">Sửa</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="staticBackdropLoai" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Tên Loại</label>
                            <input type="text" class="form-control" placeholder="Nhập tên loại" name="tenloai">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Thêm</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <script src="/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>