<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container">
                    <img src="/images/fpt.png" alt="" style="width: 60px; height: 40px;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item" style="margin-left: 15px; margin-right: 15px;">
                                <a class="nav-link active" aria-current="page" href="/admin/sanpham/home">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-house-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                                        <path
                                            d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                                    </svg>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="/admin/sanpham/addsp"
                                    style="margin-left: 15px; margin-right: 15px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                            </li>

                            <li>
                                <a class="nav-link" href="/admin/sanpham/donhang" style="margin-left: 15px;margin-right: 15px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="24" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                                        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                                        <path d="M9 12l.01 0"></path>
                                        <path d="M13 12l2 0"></path>
                                        <path d="M9 16l.01 0"></path>
                                        <path d="M13 16l2 0"></path>
                                     </svg>
                                </a>
                            </li>
                            <li class="nav-item dropdown" style="margin-left: 15px; margin-right: 15px;">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                    </svg>

                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/thongtin">Account</a></li>
                                    <li><a class="dropdown-item" href="/">Log Out</a></li>
                                    <!-- <li>
                                        <hr class="dropdown-divider">
                                    </li> -->
                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container" style="text-align: center;margin-top: 50px;">
        <img src="/images/bg1.png" alt="" style="border-radius: 100%;width: 100px;height: 100px;margin-bottom: 10px;">
        <div style="display: flex;justify-content: center;align-items: flex-start;margin:  0 auto;">
            <h4 style="margin-right: 10px;"><%=username%></h4>
          <a href="/doimk" style="color: black;">
            <svg xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-edit" width="30" height="30" viewBox="0 0 24 24" stroke-width="2"
            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
            <path d="M16 5l3 3"></path>
        </svg>
          </a>

        </div>
       
    </div>
    <div class="container" style="text-align: center;margin-top: 30px;">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="5">
                            <div class="container" style="text-align: center;">
                                <div class=""
                                    style="display: flex;padding: 10px;justify-content: space-between;align-items: center;">
                                    <div style="display: flex;">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-checkup-list" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2">
                                            </path>
                                            <path
                                                d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z">
                                            </path>
                                            <path d="M9 14h.01"></path>
                                            <path d="M9 17h.01"></path>
                                            <path d="M12 16l1 1l3 -3"></path>
                                        </svg>
                                        <h5 style="margin-left: 10px;">Danh Sách User</h5>
                                    </div>
                                    <div>
                                        <form class="d-flex" role="search">
                                            <input class="form-control me-2" type="search" placeholder="Search"
                                                aria-label="Search" name="username">
                                            <button class="btn btn-outline-success" type="submit">Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <!-- <th scope="col">Fullname</th> -->
                        <th scope="col">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Username
                            </a>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="/tang"><svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-arrow-big-up-filled" width="24"
                                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M10.586 3l-6.586 6.586a2 2 0 0 0 -.434 2.18l.068 .145a2 2 0 0 0 1.78 1.089h2.586v7a2 2 0 0 0 2 2h4l.15 -.005a2 2 0 0 0 1.85 -1.995l-.001 -7h2.587a2 2 0 0 0 1.414 -3.414l-6.586 -6.586a2 2 0 0 0 -2.828 0z"
                                                stroke-width="0" fill="currentColor"></path>
                                        </svg></a></li>
                                <li> <a class="dropdown-item" href="/giam">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-arrow-big-down-filled" width="24"
                                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M10 2l-.15 .005a2 2 0 0 0 -1.85 1.995v6.999l-2.586 .001a2 2 0 0 0 -1.414 3.414l6.586 6.586a2 2 0 0 0 2.828 0l6.586 -6.586a2 2 0 0 0 .434 -2.18l-.068 -.145a2 2 0 0 0 -1.78 -1.089l-2.586 -.001v-6.999a2 2 0 0 0 -2 -2h-4z"
                                                stroke-width="0" fill="currentColor"></path>
                                        </svg>
                                    </a></li>
                            
                        
                            </ul>
                        </th>
                        <!-- <th scope="col">Email</th> -->
                        <!-- <th scope="col">Role</th> -->
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% listUser.forEach(function(i){ %>
                        <tr>
                            <td>
                                <%= i. _id%>
                            </td>
                            <td>
                                <%= i.username%>
                            </td>
                            <!-- <td>
                                <%= i.email%>
                            </td> -->
                            <!-- <td>
                                <%= i.email%>
                            </td>
                            <td>
                                <%= i.role%>
                            </td> -->
                            <td>
                                <a href="/edit/<%=i._id%>">
                                    <svg style="margin-right: 10px;text-decoration: none;"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-pencil-minus" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M8 20l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4z">
                                        </path>
                                        <path d="M13.5 6.5l4 4"></path>
                                        <path d="M16 18h4"></path>
                                    </svg>
                                </a>

                                <a href="/delete/<%=i._id%>">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M4 7l16 0"></path>
                                        <path d="M10 11l0 6"></path>
                                        <path d="M14 11l0 6"></path>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <% }) %>



                </tbody>
            </table>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-2 col-md-2">
                <div class="row">
                    <h6>1/5</h6>
                </div>
            </div>
            <div class="col-12 col-sm-7 col-md-7">
                <div class="row"></div>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <div class="row">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>

    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" >
                        <div class="mb-3" style="text-align: left;">
                            <label for="exampleInputEmail1" class="form-label">Nhập mật khẩu cũ</label>
                            <input type="password" class="form-control" name="passwdcu"
                                aria-describedby="emailHelp">
                        </div>
                        <p><%=msg1%></p>
                        <div class="mb-3" style="text-align: left;">
                            <label for="exampleInputPassword1" class="form-label">Nhập mật khẩu mới</label>
                            <input type="password" class="form-control" name="passwd1">
                        </div>
                        <div class="mb-3" style="text-align: left;">
                            <label for="exampleInputRole1" class="form-label">Nhập lại mật khẩu mới</label>
                            <input type="password" class="form-control" name="passwd2" aria-describedby="roleHelp">
                        </div>
                        <p><%=msg%></p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                            <button type="submit" class="btn btn-primary">Cập Nhật</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>




    <script src="/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>